In [1]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_excel(r"E:\Intership-GEN AI\Intern Projects\Data Analysis Tasks\Uber Fare Analysis-Task 3\Data\uber_rides_data.xlsx")
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [14]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

1.What is the shape of given dataset?

In [16]:
df.shape

(200000, 8)

2.How many integer columns(by default) are given in the dataset?

In [21]:
integer_column=df.select_dtypes(include='int')

print(integer_column.columns.tolist())

['ride_id', 'passenger_count']

3.How many missing values exists in 'dropoff_longitude' column?

In [24]:
missing_values=df['dropoff_longitude'].isnull().sum()

print(missing_values)

1

4.What is the data type of ' pickup_datetime' feature in your data?

In [29]:
data_type=df['pickup_datetime'].dtype
print(data_type)

object

5.Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

In [30]:
#pd.to_datetime(df['pickup_datetime'])

6.Which function can be used to remove null values from the dataframe?

In [32]:
df = df.dropna()

7.What is the average fare amount?
*
Remove the null values from the dataframe to answer the following question.

In [35]:
df=df.dropna()

avg_fare_amount=df['fare_amount'].mean()

print(avg_fare_amount)

11.359891549457748

8.Calculate distance between each pickup and dropoff points using Haversine formula. 
What is the median haversine distance between pickup and dropoff location according to the given dataset?
*
Read about Haversine Distance here: https://en.wikipedia.org/wiki/Haversine_formula

In [39]:
df= df.dropna(subset=['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude'])

df['haversine_distance'] = haversine(df['pickup_latitude'], df['pickup_longitude'],
                                             df['dropoff_latitude'], df['dropoff_longitude'])

In [40]:
# Define the Haversine formula
def haversine(lat1, lon1, lat2, lon2):
    # Radius of Earth in kilometers
    R = 6371.0 
    
    # Convert degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    
    # Compute differences
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    # Haversine formula
    a = np.sin(dlat / 2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2.0)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    
    # Distance in kilometers
    distance = R * c
    return distance

In [48]:
# Calculate the median distance
median_distance = df['haversine_distance'].median()

print(median_distance)

2.120992396182902

9.What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [43]:
max_distance = df['haversine_distance'].max()

print(max_distance)

16409.23913531317

10.How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [45]:
zero_distance_rides = df[df['haversine_distance'] == 0.0].shape[0]
print(zero_distance_rides)

5632

11.What is the mean 'fare_amount' for rides with 0 haversine distance?
*
Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

In [49]:
df['haversine_distance'] = haversine(df['pickup_latitude'], df['pickup_longitude'],
                                             df['dropoff_latitude'], df['dropoff_longitude'])

# Filter rides with a Haversine distance of 0.0
zero_distance_rides = df[df['haversine_distance'] == 0.0]

# Calculate the mean fare amount for these rides
mean_fare_zero_distance = zero_distance_rides['fare_amount'].mean()

print(mean_fare_zero_distance)

# Analyze the results
if zero_distance_rides.shape[0] > 0:
    print(zero_distance_rides.shape[0])
    print(zero_distance_rides[['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude', 'fare_amount']].head())
else:
    print("No rides found with 0.0 Haversine distance.")

11.585317826704546
5632
    pickup_latitude  pickup_longitude  dropoff_latitude  dropoff_longitude  \
5         40.755910        -73.969019         40.755910         -73.969019
7          0.000000          0.000000          0.000000           0.000000
11         0.000000          0.000000          0.000000           0.000000
48        40.764686        -73.993498         40.764686         -73.993498
65         0.000000          0.000000          0.000000           0.000000

    fare_amount
5           4.9
7           2.5
11          8.5
48         56.8
65          6.0

12.What is the maximum 'fare_amount' for a ride?

In [50]:
df['fare_amount'].max()

499.0

13.What is the haversine distance between pickup and dropoff location for the costliest ride?

In [53]:
costliest_ride = df.loc[df['fare_amount'].idxmax()]

haversine_distance_costliest = costliest_ride['haversine_distance']

print(costliest_ride)
print(haversine_distance_costliest)

ride_id                              51151143
fare_amount                             499.0
pickup_datetime       2011-04-10 04:10:00 UTC
pickup_longitude                   -73.968377
pickup_latitude                     40.764602
dropoff_longitude                  -73.968368
dropoff_latitude                      40.7646
passenger_count                             1
haversine_distance                    0.00079
Name: 170081, dtype: object
0.0007899213191009994

14.How many rides were recorded in the year 2014?

In [55]:
df = df.dropna(subset=['pickup_datetime'])

# Convert 'pickup_datetime' to datetime datatype
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Filter for rides recorded in 2014
rides_2014 = df[df['pickup_datetime'].dt.year == 2014]

# Count the number of rides
num_rides_2014 = rides_2014.shape[0]
print(num_rides_2014)

29968

15.How many rides were recorded in the first quarter of 2014?

In [59]:
df = df.dropna(subset=['pickup_datetime'])

# Convert 'pickup_datetime' to datetime datatype
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Filter for rides recorded in the first quarter of 2014 (January, February, and March)
rides_q1_2014 = df[(df['pickup_datetime'].dt.year == 2014) &
                           (df['pickup_datetime'].dt.month.isin([1, 2, 3]))]

# Count the number of rides
num_rides_q1_2014 = rides_q1_2014.shape[0]
print(num_rides_q1_2014)

7687

16.On which day of the week in September 2010, maximum rides were recorded ?

In [60]:
df = df.dropna(subset=['pickup_datetime'])

# Convert 'pickup_datetime' to datetime datatype
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Filter for rides recorded in September 2010
rides_september_2010 = df[(df['pickup_datetime'].dt.year == 2010) &
                                  (df['pickup_datetime'].dt.month == 9)]

# Extract the day of the week (0 = Monday, 6 = Sunday)
rides_september_2010['day_of_week'] = rides_september_2010['pickup_datetime'].dt.dayofweek

# Count rides for each day of the week
rides_per_day = rides_september_2010.groupby('day_of_week').size()

# Find the day with the maximum number of rides
max_rides_day = rides_per_day.idxmax()
max_rides_count = rides_per_day.max()

# Map the day of the week number to the name (0 = Monday, ..., 6 = Sunday)
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
max_rides_day_name = days_of_week[max_rides_day]

print(max_rides_day_name)
print(f"Number of rides on {max_rides_day_name}: {max_rides_count}")

Thursday
Number of rides on Thursday: 457

C:\Users\DELL\AppData\Local\Temp\ipykernel_22900\2403005604.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rides_september_2010['day_of_week'] = rides_september_2010['pickup_datetime'].dt.dayofweek